%h1{:class => "floorPlan"} Image Floor Plans

%table{:class => "floorPlanTable"}
    %thead
        %tr
            %th Image Name
            %th Image Details
            %th Edit Image
            %th Delete Image
    %tbody
        - @floor_plans.each do |plan|
            %tr
                %td= plan.name
                %td= link_to "Details"
                %td= link_to "Edit"
                %td= link_to "Delete"
                

%btn{:class => "addBtn"}Add new image