-#  This file is app/views/maps/index.html.haml
%div#map

= button_tag "+", type: "button", id: "zoom-in", onclick: "alert('You zoomed in.');"
= button_tag "-", type: "button", id: "zoom-out", onclick: "alert('You zoomed out.');"