html, body {
  margin: 0;
  padding: 0;
  background: White;
  color: DarkSlateGrey;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10pt;
}

div#main {
  margin: 0;
  padding: 0 20px 20px;
}

a {
  background: transparent;
  color: maroon;
  text-decoration: underline;
  font-weight: bold;
}

h1 {
  color: maroon;
  font-size: 150%;
  font-style: italic;
  display: block;
  width: 100%;
  border-bottom: 1px solid DarkSlateGrey;
}

#notice #warning {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}

form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: maroon;
}

/* ---------- View map of campus ---------- */
#menubar {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: lightblue;
  margin: 0 0 1em;
  z-index: 99;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

div#title {
  position: relative;
  float: left;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 80px;
  padding-bottom: 10px;
  color: white;
  font-size: 2em;
  font-style: normal;
}

#menubar a, #menubar .separator, #menubar #search {
  float: left;
  padding: 5px;
}

#menubar a {
  margin-top: 13px;
}

#menubar .separator {
  margin-top: 5px;
  font-size: 18pt;
}

#menubar #search {
  margin-top: 12px;
  margin-left: 80px;
  width: 240px;
}

#zoom-in, #zoom-out {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 20px;
  right: 20px;
  font-weight: bold;
  font-size: 14pt;
}

#zoom-in {
  margin-bottom: 60px;
}

/* ----- Login (with Google etc.) ----- */
#login {
  position: absolute;
  right: 5px;
}

#main {
  background-color: white;
}

#map {
    background-image: url("map.png");
    width: 1500px; /* TODO: Make relative (percentage etc.) */
    height: 900px;
}